<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10" xmlns:mobile="http://schemas.microsoft.com/appx/manifest/mobile/windows10" IgnorableNamespaces="uap mp uap2 uap3 iot mobile">
  <Identity Name="WebWhatsApp" Publisher="CN=Dustin" Version="1.0.111.0" />
  <mp:PhoneIdentity PhoneProductId="f025b918-50ac-4fc6-a04b-707f0b766a1c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>WebWhatsApp</DisplayName>
    <PublisherDisplayName>Dustin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WebWhatsApp.App">
      <uap:VisualElements DisplayName="WebWhatsApp" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Simple (ad and junk free) application to display WhatsApp Web on Windows Phone (compatible with almost any x86 and x64 build of Windows 10). The WebView might look a bit buggy sometimes, I'am still looking at zoom support to fix this. This might be resolved in a later iteration." BackgroundColor="purple">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="WhatsAppWeb" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <iot:Capability Name="lowLevelDevices" />
    <uap2:Capability Name="phoneCallHistoryPublic" />
    <uap3:Capability Name="remoteSystem" />
    <uap2:Capability Name="spatialPerception" />
    <mobile:Capability Name="recordedCallsFolder" />
  </Capabilities>
</Package>